.below-the-fold {
  background: linear-gradient(rgba(0, 0, 0, 0.181), rgba(214, 214, 214, 0.132)),
    url("/public//ihsan-ulusoy-RhRFmV-SUQw-unsplash.jpg");
  padding-top: -5rem;
  padding: 5rem;
  min-height: 80vh;
  background-size: cover;
  overflow: hidden;
}
